.list {
  list-style: none;
  line-height: 1.5;
}

.link {
  color: var(--easy-text);
  font-size: 0.85rem;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.04rem;
}

.link:hover {
  margin-left: 0.4rem;
  transition: margin 150ms, opacity 100ms ease-in-out;
  opacity: 0.8;
}

.link:not(:hover) {
  transition: margin 250ms ease-in-out;
}
