.repository-link {
  text-transform: uppercase;
  color: var(--easy-text);
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.05rem 0.3rem 0.1rem;
  letter-spacing: 0.15em;
  text-decoration: none;
  border: 2px solid var(--ultra-violet);
  background: linear-gradient(180deg, transparent, var(--primary) 50%);
  border-radius: 0.2rem;
  white-space: nowrap;
}

.repository-link:hover {
  background: var(--prussian-blue);
  transition: 100ms ease-in;
}
