.greeting-heading {
  margin-left: -6px;
}

.profession-heading {
  margin: 0 0 2rem;
  text-transform: uppercase;
  line-height: 2rem;
  letter-spacing: 0.4rem;
  font-size: 1.3rem;
  font-weight: 300;
}

.repository-link {
  text-transform: uppercase;
  color: var(--easy-text);
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0 0.2rem;
  letter-spacing: 1.4;
  text-decoration: none;
  background: linear-gradient(225deg, transparent, var(--primary) 60%);
  border: 2px solid var(--dark);
  outline: 2px solid var(--primary);
  border-radius: 0.2rem;
}

.repository-link:hover {
  background: var(--primary);
  background: none;
}
