.footer {
  margin-top: 4rem;
  padding-bottom: 4rem;
}

.ul {
  font-size: 0.9rem;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.li {
  letter-spacing: 0.08rem;
}

.li svg {
  font-size: 1.2rem;
}

.link {
  opacity: 0.85;
  color: var(--easy-text);
  text-decoration: none;
  letter-spacing: 0.08rem;
}

.link:hover {
  opacity: 1;
  transition: opacity 250ms;
}
