.footer {
  margin-top: 4rem;
  padding-bottom: 4rem;
}

.ul {
  font-size: 0.9rem;
  list-style: none;
}

.li {
  font-size: inherit;
  letter-spacing: 0.08rem;
  line-height: 1.7;
}

.link {
  font-size: 0.85rem;
  color: var(--easy-text);
  text-decoration: none;
  letter-spacing: 0.08rem;
}

.link:hover {
  opacity: 0.8;
  transition: opacity 150ms;
}
